<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drivermodule">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dri"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drivermodule">
        <activity
            android:name=".CheckoutActivity"
            android:exported="false"
            android:label="@string/title_activity_checkout"
            android:theme="@style/Theme.Drivermodule" />

        <!-- This element is required to enable Google Pay in your app. -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />

        <service
            android:name=".Mylocationservice"
            android:description="@string/app_name"
            android:enabled="true"
            android:label="Notification"></service>

        <activity
            android:name=".profileadd"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".signup"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".loginactivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".connectedcheck"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".home"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="nosensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyCp2tBlrboXh6QSWGCcHg2MpGTeBqV5IUY" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCp2tBlrboXh6QSWGCcHg2MpGTeBqV5IUY" />
    </application>

</manifest>